<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kaustubh, Aditya, Sayan, Sourav, Projjal">
    <link rel="shortcut icon" href="img/logo.ico">
    <title>Food, but faster! </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->

<style>
@keyframes spinner {
0% {
    transform: rotateZ(0deg);
  }
100% {
    transform: rotateZ(359deg);
  }
}
* {
  box-sizing: border-box;
}
</style>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <img class="logo_login" src="img/logo.gif" style="width:50px; height:50px;"/>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To foodspark!</div>
                <div class="intro-heading">What you crave</div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#custom_modal">Login</button>
                <div id="custom_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom_modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form class="login">
                                    <p class="title">Log in</p>
                                    <input type="email" name="email" placeholder="Email" required autofocus/>
                                    <i class="fa fa-user"></i>
                                    <input type="password" name="password" placeholder="Password" required />
                                    <i class="fa fa-key"></i>
                                    <a href="#" class = "title" style="font-color:blue;">Forgot your password?</a>
                                    <button class="btn btn-lg btn-success btn-block" type="submit" value="Submit" a href="#">
                                        	<i class="spinner"></i>
                                        	<span class="state">GO</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#custom_modal2">Sign Up</button>
                <div id="custom_modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom_modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body" ng-controller="signController">
                                <form name="SignUpForm" class="signup" action='/signup/' method="post">
                                    {% csrf_token %}
                                    <p class="title">Enter Details</p>
                                    <input type="text" name="name" placeholder="Name" required autofocus />
                                    <i class="fa fa-user"></i>
                                    <!--<input type="text" placeholder="Lastname" ng-model="user.lastname" required autofocus/>
                                    <i class="fa fa-user"></i>-->
                                    <input type="email" name="email" placeholder="Email" requuired autofocus/>
                                    <i class="fa fa-user"></i>
                                    <input type="number" name="phone" placeholder="Phone Number" required autofocus/>
                                    <i class="fa fa-user"></i>
                                    <input type="text" name="address" placeholder="Address" required autofocus/>
                                    <i class="fa fa-user"></i>
                                    <div style="font color:black; align:left">
                                    <input list="users" name="usertype" placeholder="User Type">
                                        <datalist id="users">
                                            <option value="Customer">
                                            <option value="Restaurant">
                                        </datalist></div>
                                    <input type="password" name="password" placeholder="Password" required />
                                    <i class="fa fa-key"></i>
                                    <button class="btn btn-lg btn-success btn-block" type="submit" a href="#">
                                        <i class="spinner"></i>
                                        <span class="state">Create Account</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

        <section id="team" class="bg-light-gray">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h2 class="section-heading">Our Team</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="team-member">
                                            <img src="img/Aditya.png" class="img-responsive img-circle" alt="">
                                            <h4>Aditya Bhagwat</h4>
                                            <!-- <p class="text-muted">Lead Designer</p> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="team-member">
                                            <img src="img/Kaustubh.jpg" class="img-responsive img-circle" alt="">
                                            <h4><a href = "https://github.com/kaustubhhiware">Kaustubh Hiware</a></h4>
                                            <!-- <p class="text-muted">Lead Marketer</p> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="team-member">
                                            <img src="img/Projjal.png" class="img-responsive img-circle" alt="">
                                            <h4>Projjal Chanda</h4>
                                            <!-- <p class="text-muted">Lead Developer</p> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="team-member">
                                            <img src="img/Sayan.jpg" class="img-responsive img-circle" alt="">
                                            <h4>Sayan Mandal</h4>
                                            <!-- <p class="text-muted">Lead Chomu</p> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="team-member">
                                            <img src="img/Sourav.png" class="img-responsive img-circle" alt="">
                                            <h4>Sourav Pal</h4>
                                            <!-- <p class="text-muted">Lead Chomu</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>





</body>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/agency.js"></script>
<script>
	function centerModal() {
	    $(this).css('display', 'block');
	    var $dialog = $(this).find(".modal-dialog");
	    var offset = ($(window).height() - $dialog.height()) / 2;
	    // Center modal vertically in window
	    $dialog.css("margin-top", offset);
	}

	$('.modal').on('show.bs.modal', centerModal);
	$(window).on("resize", function () {
	    $('.modal:visible').each(centerModal);
	});
</script>

<!-- <script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js></script> -->
</html>
