.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
}
