<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/logo.ico">
    <title>Restaurant details Foodspark</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/jquery-clockpicker.min.css" rel="stylesheet">
    <link href="/static/css/mystyle.css" rel="stylesheet">
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>
    <!-- navbar centred text vertically with  line-height-->
    <nav class="navbar navbar-nav navbar-default navbar-fixed-top">
        <div class="container" style="margin:0 !important;">
            <span class="navbar-left" style="font-size:1.2em;"><img src="/static/img/logo.gif" class="logo_bitch"/>   FOODSPARK</span>

            <!--<div class="nav navbar-nav navbar-right">
               <a  href="#"> Log out</a>
            </div>-->
        </div>
    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/home/">
                        Hello, {{customer.name}}
                    </a>
                </li>
                <li>
                    <a href="/details/">Details</a>
                </li>
                <li>
                    <a href="/history/">Order History</a>
                </li>
                <li>
                    <a href="/cart/">Order Cart</a>
                </li>
                <li>
                    <a href="/logout/">Log out</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div style="margin-top:60px;">

        </div>
<!--
        <a href="#menu-toggle" class="btn btn-default fa-bars" id="menu-toggle">
             <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>-->
        <!-- Page Content -->
        <div id="page-content-wrapper" style="padding:0; margin:0;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="padding:0; margin:0;">
                        <img src="/static/img/back_rest.jpg" class="cover_photo">

                        <div class= "rest_details">
                            <h1 style="text-align:center;">{{restaurant.name}}</h1>

                            <i class="glyphicon glyphicon-map-marker blueicon"></i> : {{restaurant.address}} , {{restaurant.city}}
                            <p class="rightfloat" style="padding-right:20px;">
                                <i class="glyphicon glyphicon-earphone blueicon"></i> : {{restaurant.phone}}</p>
                            <br />
                            <span style="padding-left:200px;">
                                <i class="glyphicon glyphicon-time blueicon"></i> :10:00 - 22:00
                            </span>
                            <p class="rightfloat">
                                <i class="glyphicon glyphicon-cutlery blueicon"></i> : {{restaurant.cuisine}}</p>

                            <hr class="liner"/>

                            <form action='/addtocart/' method='post' id="terabaaphumain">
                            {% csrf_token %}

                                <div class="foodtable lefty">
                                    {% if fooditems %}
                                    {% for x,y in fooditems.items %}
                                    <h2>Cuisine: {{x}}</h2>
                                    <table class="table">
                                        <thead>
                                            <tr><b>
                                                <th>Item Name</th>
                                                <th>Price</th>
                                                <th>Add Item</th>
                                            </b></tr>
                                        </thead>
                                        <tbody>
                                            {%for z in y %}
                                            <tr>
                                                    {% with z.pk|stringformat:"s" as zstr %}
                                                    {% with "food"|add:zstr as foodid %}
                                                    {% with "numfood"|add:zstr as foodipid %}
                                                <td>{{z.name}}</td>
                                                <td id="{{foodid}}">{{z.price}}</td>
                                                <td>
                                                    <button type="button" id= "{{foodid}}" class="btn btn-primary btn-circle decrement">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                    <input type="hidden" name="{{foodid}}" value="0" id="{{foodipid}}" />
                                                    <span class="ordernum" id="{{foodid}}"/> 0 </span>
                                                    <button type="button" id="{{foodid}}" class="btn btn-primary btn-circle increment">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </td>
                                                    {% endwith %}
                                                    {% endwith %}
                                                    {% endwith %}
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                    {%endfor%}
                                    {%endif%}

                                </div>


                                <div class="carttable recommend offset8" style="float:right;">
                                    <h4 class="recoh">Cart</h4>
                                    <hr class="liner" />
                                    Total : ₹<span style="font-size:1.2em;" id="totalamount">0</span>
                                    <br />
                                    <br />
                                    <button class="btn btn-primary" type="submit" a href="#">Add to cart</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-clockpicker.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    var input = $('.inputtime');
    input.clockpicker({
        autoclose: true
    });

    // Manual operations for time
    $('.time_switch').click(function(e){
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show')
                .clockpicker('toggleView', 'hours');
    });

    $('.increment').click(function(e){


        var num = parseInt($(".ordernum#"+this.id).html());
        $('.ordernum#'+this.id).html(num+1);
        document.getElementById('num'+this.id).value = num+1;
        var total = parseInt($('span#totalamount').html());
        var pr = parseInt($('td#'+this.id).html());
        $('span#totalamount').html(pr + total)
    });

    $('.decrement').click(function(e){
        var num = parseInt($(".ordernum#"+this.id).html());
        if(num>0)
        {
            $('.ordernum#'+this.id).html(num-1);
            document.getElementById('num'+this.id).value = num-1;
            var total = parseInt($('span#totalamount').html());
            var pr = parseInt($('td#'+this.id).html());
            $('span#totalamount').html(total-pr)
        }
    });

    </script>

</body>

</html>
